@use 'main';

.card {
    .card-img-top {
        object-fit: cover;
        object-position: 50% 15%;

        @media (max-width: main.$md) {
            height: 15em;
        }
    }
    .card-body {
        position: relative;

        .btn {
            position: absolute;
            bottom: 1em;
        }
    }
}